.section-advantage {
  background-color: var(--color-white);

  .advantage-wrapper {
    padding: 64px 260px;

    @media (max-width: 991px) {
      padding: 48px 24px;
    }

    h2.title {
      padding-left: calc(30% + 50px);
      margin-bottom: 50px;

      @media (max-width: 991px) {
        padding-left: 0;
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }

  .content {
    // display: grid;
    // grid-template-columns: 30% 70%;
    display: flex;
    gap: 50px;

    @media (max-width: 991px) {
      gap: 24px;
      flex-direction: column;
    }

    &-left {
      width: 30%;
      padding-right: 35px;
      font-size: 18px;
      line-height: 20px;
      // padding-left: 100px;

      @media (max-width: 991px) {
        width: 100%;
        padding-right: 0;
      }
    }

    &-right {
      width: calc(70% - 50px);

      @media (max-width: 991px) {
        width: 100%;
      }

      * {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        margin-top: 16px;

        &:first-child {
          margin-top: 0;
        }
      }

      h1,
      h2,
      h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        font-family: var(--font-body);
        color: var(--color-primary);
        font-weight: bold;
      }

      ul {
        list-style-type: disc;
        padding-left: 16px;

        li {
          margin-top: 0;
        }
      }

      ol {
        list-style-type: decimal;
        padding-left: 16px;

        li {
          margin-top: 0;
        }
      }
    }
  }
}
