.category-tab {
  position: sticky;
  z-index: 99;
  width: 100%;
  background-color: var(--color-white);
  top: 50px;
  left: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 14px;

    @media (max-width: 991px) {
      padding: 5px;
    }

    .category-item {
      width: 65px;
      height: 65px;
      border: 1px solid transparent;
      transition: all 0.4s ease;
      border-radius: 10px;
      padding: 5px;
      font-size: 10px;
      color: var(--color-third);
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        margin-top: 4px;
      }

      .image {
        width: 25px;
        height: 25px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.4s ease;

          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            opacity: 0;
            visibility: hidden;
          }
        }
      }

      &:hover,
      &.active {
        // border-color: var(--color-third);

        .image {
          img {
            opacity: 0;
            visibility: hidden;
          }

          img:nth-child(2) {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
