.category-tab {
  position: sticky;
  z-index: 99;
  width: 100%;
  background-color: var(--color-white);
  top: 50px;
  left: 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 14px;

    .category-item {
      width: 65px;
      height: 65px;
      border: 1px solid transparent;
      transition: all 0.4s ease;
      border-radius: 10px;
      padding: 5px;
      font-size: 10px;
      color: var(--color-third);
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        margin-top: 4px;
      }

      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }

      &:hover {
        border-color: var(--color-third);
      }
    }
  }
}
