.col-images {
  padding: 64px 160px;
  background: var(--bg-section);

  @media (max-width: 991px) {
    padding: 48px 24px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .list-item {
    display: grid;
    gap: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s ease;
    }

    .item {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    &.col--1 {
      grid-template-columns: auto;
      gap: 12px;

      .item {
        width: 100%;
        aspect-ratio: 760 / 340;
        border-radius: 10px;
        overflow: hidden;
        // height: 340px;
      }
    }

    &.col--2 {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;

      .item {
        width: 100%;
        aspect-ratio: 474 / 340;
        border-radius: 10px;
        overflow: hidden;
        max-height: 400px;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(0.95);

          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &.col--3 {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;

      .item {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 246 / 300;

        &-content {
          position: absolute;
          z-index: 2;
          top: 24px;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - 64px);
        }

        .link {
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
        }

        .desc {
          margin-top: 8px;
        }

        img {
          height: 110%;
          object-fit: cover;
        }

        &:hover {
          img {
            transform: translateY(-8%);
          }
        }
      }
    }
  }
}
