.link-hover {
  position: relative;

  &.color-white {
    &::before {
      background-color: var(--color-white);
    }
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.dropdown-custom {
  position: relative;
  cursor: pointer;
}
.dropdown-custom-menu {
  position: absolute;
  bottom: -29px;
  left: -16px;
  transform: translateY(100%);
  background-color: var(--color-white);
  width: 120px;
  padding: 8px;
  clip-path: inset(0 0 100% 0);
  will-change: clip-path;
  transition: clip-path 0.3s ease;
  pointer-events: none;
  &.dropdown--active {
    clip-path: inset(0 0 0 0);
    pointer-events: auto;
  }
}
.dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  .value-select {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: var(--color-primary);
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
    }
  }
}
.dropdown-custom-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(23, 75, 156, 0.1);
  }
  span {
    color: var(--color-primary);
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
  }
}

.btn--primary {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black);
  padding: 12px 14px 9px;
  border-radius: 5px;
  width: max-content;
  color: #414042;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
  }

  &.btn--bg-gray {
    background-color: rgba(248, 245, 229, 0.2);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }
}

.btn--secondary {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 10px;
  color: var(--color-third);
  transition: all 0.4s ease;

  &:hover {
    .icon {
      transform: translateX(10px);
    }
  }

  .icon {
    color: var(--color-third);
    width: 21px;
    height: 11px;
    transition: all 0.4s ease;

    svg * {
      transition: all 0.4s ease;
    }
  }
}

.back-to-top {
  margin: 0 auto;
  width: max-content;
}

.breadcrumb {
  position: fixed;
  z-index: 100;
  top: 50px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-third);
  gap: 12px;
  padding: 12px 10px 8px;
  width: 100%;
  background-color: var(--color-white);
  margin-bottom: 0;
  font-size: 12px;

  a {
    transition: all 0.4s ease;
    &:hover {
      color: var(--color-primary);
    }
  }
}

.header-cta__search--form {
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: var(--color-secondary);

  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: all 0.4s ease;

  form {
    width: 80%;

    display: flex;
    align-items: center;

    input {
      height: 50px;
      padding: 5px 16px;
      font-size: 16px;
      color: var(--color-black);

      &::placeholder {
        color: var(--color-text-2);
      }
    }

    button {
      height: 50px;
      width: 200px;
    }
  }
}
