.link-hover {
  position: relative;

  &.color-white {
    &::before {
      background-color: var(--color-white);
    }
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.dropdown-custom {
  position: relative;
  cursor: pointer;
}

.btn--primary {
  min-height: 30px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.96px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 7px 10px 4px;
  height: 28px;
  border-radius: 10px;
  width: max-content;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
  }

  &.btn--bg-gray {
    background-color: rgba(248, 245, 229, 0.2);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }
}

.btn--secondary {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 10px;
  color: var(--color-third);
  transition: all 0.4s ease;

  &:hover {
    .icon {
      transform: translateX(10px);
    }
  }

  .icon {
    color: var(--color-third);
    width: 21px;
    height: 11px;
    transition: all 0.4s ease;

    svg * {
      transition: all 0.4s ease;
    }
  }
}

.back-to-top {
  margin: 0 auto;
  width: max-content;
}

.breadcrumb {
  // position: sticky;
  z-index: 100;
  top: 50px;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;
  color: var(--color-third);
  gap: 12px;
  padding: 8px 10px 4px;
  width: 100%;
  background-color: var(--color-white);
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;

  @media (max-width: 991px) {
    gap: 6px 8px;
  }

  a:first-child {
    // padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      background: url("../../images/icon-signature.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      left: -2px;
      top: 50%;
      transform: translateY(calc(calc(-1px) - 50%));

      display: none;
    }
  }

  .separator {
    width: 4px;
    height: 12px;
    background: url("../../images/icon-arrow.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  a {
    transition: all 0.4s ease;
    &:hover {
      color: var(--color-primary);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  gap: 10px;

  .page-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    background-color: var(--color-white);
    color: var(--color-text);
    transition: all 0.4s ease;

    &:hover,
    &.active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &.active {
      pointer-events: none;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

.marquee {
  &-container {
    overflow: hidden;
  }

  &-content {
    gap: 80px;
    display: flex;
    flex-wrap: nowrap;
  }

  &-item {
    .brand-img {
      width: 120px;
      aspect-ratio: 1;

      @media (max-width: 991px) {
        width: 60px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  position: unset;
  width: max-content;
  margin: 40px auto 0;

  @media (max-width: 991px) {
    margin: 32px auto 0;
  }

  .swiper-pagination-bullet {
    width: 4px;
    border-radius: 50%;
    height: 4px;
    background-color: #969696;
    transition: all 0.3s ease;
    margin: 0;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      width: 44px;
      background-color: #414042;
      border-radius: 20px;
    }
  }
}
