#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 50px;
  background-color: var(--color-primary);

  & + .blank-spacing {
    height: 50px;
  }
}

.header {
  &-logo {
    width: 117px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 160px;

    @media (max-width: 991px) {
      padding: 10px 24px;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 991px) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 28px;

      & > li {
        & > a {
          position: relative;
          transition: all 0.4s;
          color: var(--color-secondary);
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          opacity: 0.8;

          &.active,
          &:hover {
            color: var(--color-secondary) !important;
            opacity: 1;
          }
        }
      }
    }
  }

  &-cta {
    display: flex;
    align-items: center;
    gap: 24px;

    &__search {
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-secondary);
      cursor: pointer;
      position: relative;

      &--icon {
        svg {
          width: 14px;
          height: 14px;
        }

        .icon-close {
          display: none;
        }

        &.open {
          .icon-search {
            display: none;
          }

          .icon-close {
            display: block;
          }
        }
      }

      &--form {
        background-color: var(--color-white);

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        top: calc(100% + 15px);
        min-width: 310px;
        max-width: 100%;
        position: absolute;
        right: 0;
        z-index: 101;

        transform: translateY(10px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;

        &.open {
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }

        &::after {
          content: "";
          -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          right: 0;
          bottom: calc(100% - 2px);
          width: 10px;
          height: 10px;
          position: absolute;
          z-index: 101;
          background-color: var(--color-white);
        }

        input {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: var(--color-third);
          height: 45px;
          width: 100%;
          border: none;
          padding: 7px 16px 5px;

          &::placeholder {
            color: var(--color-text-2);
          }
        }

        button {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          box-shadow: none;
          color: var(--color-third);

          position: absolute;
          right: 0;
          top: 0;

          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}
