.image-with-text {
  position: relative;
  min-height: 550px;

  @media (max-width: 991px) {
    min-height: unset;
  }

  .image-main {
    width: 420px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;

    @media (max-width: 991px) {
      width: 350px;
      top: 0;
      bottom: unset;
      position: unset;
      margin-left: auto;
    }
  }

  .section-wrapper {
    padding: 65px 160px;
    display: grid;
    grid-template-columns: 60% 40%;

    @media (max-width: 991px) {
      padding: 8px 24px 0;
      grid-template-columns: 1fr;
    }

    .content-left {
      .title {
        @media (max-width: 991px) {
          width: 100%;
          text-align: center;
        }
      }
      .list-item {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 991px) {
          margin-top: 24px;
          gap: 24px;
        }

        li {
          border-bottom: 1px solid var(--color-primary);
          padding-bottom: 8px;
          padding-left: 20px;
          position: relative;

          span {
            color: var(--color-primary);
            margin-right: 4px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
