.image-with-text {
  position: relative;
  min-height: 550px;

  @media (max-width: 991px) {
    min-height: unset;
  }

  .image-main {
    // width: 520px;
    width: 40%;
    height: auto;
    position: absolute;
    bottom: 48px;
    right: 0;
    z-index: 3;

    img {
      object-position: bottom;
      object-fit: contain;
    }

    @media (max-width: 991px) {
      width: 350px;
      top: 0;
      bottom: unset;
      position: unset;
      margin-left: auto;
      padding: 32px 0 64px;
    }
  }

  .section-wrapper {
    padding: 0 160px 80px;
    display: grid;
    grid-template-columns: 70% 30%;

    @media (max-width: 991px) {
      padding: 8px 24px 0;
      grid-template-columns: 1fr;
    }

    .content-left {
      .title {
        @media (max-width: 991px) {
          width: 100%;
          text-align: center;
        }
      }
      .list-item {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 991px) {
          margin-top: 24px;
          gap: 24px;
        }

        li {
          border-bottom: 1px solid var(--color-primary);
          padding-bottom: 8px;
          padding-left: 20px;
          position: relative;

          span {
            color: var(--color-primary);
            margin-right: 4px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
