.image-with-text {
  position: relative;
  .image-main {
    width: 420px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
  }

  .section-wrapper {
    padding: 65px 160px;
    display: grid;
    grid-template-columns: 60% 40%;

    .content-left {
      .list-item {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
          border-bottom: 1px solid var(--color-primary);
          padding-bottom: 8px;

          span {
            color: var(--color-primary);
            margin-right: 4px;
          }
        }
      }
    }
  }
}
