.post-detail {
  .detail {
    &-banner {
      height: 340px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-main {
      width: 80%;
      margin: 0 auto;
      border-radius: 24px;
      overflow: hidden;
      background-color: var(--color-white);

      display: flex;
      align-items: flex-start;

      padding: 64px;
      transform: translateY(-64px);

      @media (max-width: 991px) {
        width: calc(100% - 48px);
        padding: 48px 24px;
        transform: translateY(-48px);
        flex-direction: column;
        gap: 24px;
      }

      .title {
        width: 40%;
        padding-right: 20%;

        @media (max-width: 991px) {
          width: 100%;
          padding-right: 0;
        }
      }

      .content {
        width: 60%;

        @media (max-width: 991px) {
          width: 100%;
        }

        *:first-child {
          margin-top: 0;
        }

        p,
        ul,
        ol {
          margin-top: 16px;
        }

        h1,
        h2,
        h3 {
          font-size: 44px;
          line-height: 52px;
          font-weight: 400;
          font-family: var(--font-heading);
          color: var(--color-primary);
          margin-bottom: 24px;
        }

        ul {
          list-style-type: disc;
          padding-left: 16px;
        }

        ol {
          list-style-type: decimal;
          padding-left: 16px;
        }
      }
    }
  }
}
