.product-detail {
  background: url("/assets/images/draf/bg-product-detail.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  &__banner {
    padding: 64px 100px 40px;

    .title {
      margin-top: 16px;
    }

    .image {
      width: 400px;
      height: 450px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .desc {
      font-size: 14px;
      line-height: 18px;
      max-width: 700px;
      margin: 0 auto;

      p {
        margin-top: 12px;
      }

      h4 {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__ingredients {
    width: calc(100% - 200px);
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 30px 64px 30px 0;

    .image {
      width: 100%;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc {
      margin-top: 8px;
      padding: 24px 0;
      border-top: 1px solid var(--color-text);
      border-bottom: 1px solid var(--color-text);
    }
  }

  &__main {
    padding: 80px 100px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 50px;

    .different {
      padding: 24px 30px;
      border-radius: 20px;
      background-color: var(--color-white);

      .list-item {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          display: flex;
          align-items: center;
          gap: 20px;
          color: var(--color-text);
        }
      }
    }

    .detail {
      position: relative;

      .tag {
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 8px;
        border-radius: 10px;
        background-color: var(--color-primary);
        color: var(--color-white);

        position: absolute;
        top: 16px;
        right: 16px;
      }
    }

    .gallery {
      padding: 24px 30px;
      border-radius: 20px;
      background-color: var(--color-white);
      width: 100%;
      aspect-ratio: 1;

      &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;

        &.show {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    .variant {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);

      .variant-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .btn--contact {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* --- Slider main --- */
    .mySwiper2 {
      width: 100%;
      height: 500px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
    }

    .mySwiper2 .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #111;
      transition: all 0.3s ease;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      color: #00ae9f;
    }

    /* --- Slider thumbnail --- */
    .thumbnail-slider {
      margin-top: 15px;
      height: 100px;
    }

    .thumbnail-slider .swiper-slide {
      width: 100px;
      height: 100px;
      opacity: 0.5;
      transition: all 0.3s ease;
      cursor: pointer;
      border-radius: 12px;
      overflow: hidden;
    }

    .thumbnail-slider .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .thumbnail-slider .swiper-slide-thumb-active {
      opacity: 1;
      border: 3px solid #00ae9f;
    }
  }
}
