.product-detail {
  background: url("../../images/draf/bg-product-detail.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  &__banner {
    padding: 25px 160px 40px;

    @media (max-width: 991px) {
      padding: 25px 24px 32px;
    }

    h1 {
      font-family: var(--font-body);
      font-weight: 800;
    }

    .subtitle {
      color: rgba($color: #414042, $alpha: 0.3);
    }

    .title {
      margin-top: 8px;
    }

    .image {
      width: 100%;
      aspect-ratio: 1120 / 450;
      margin: 0 auto;

      @media (max-width: 991px) {
        max-width: 70%;
        height: auto;
        aspect-ratio: 400 / 450;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc {
      font-size: 14px;
      line-height: 18px;
      max-width: 700px;
      margin: 48px auto 0;

      p {
        margin-top: 12px;
      }

      h4 {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__ingredients {
    width: calc(100% - 320px);
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 30px 64px 30px 0;
    box-shadow: 0 0 30px 4px rgba(117, 117, 117, 0.2);

    @media (max-width: 991px) {
      width: calc(100% - 48px);
      padding: 30px 24px;
      display: flex;
      flex-direction: column;
    }

    .image {
      width: 100%;
      aspect-ratio: 1;

      @media (max-width: 991px) {
        max-width: 60%;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc {
      margin-top: 8px;
      padding: 24px 0;
      border-top: 1px solid var(--color-text);
      border-bottom: 1px solid var(--color-text);

      p {
        &:not(:first-child) {
          margin-top: 8px;
        }

        span {
          font-weight: bold;
        }
      }
    }
  }

  &__main {
    padding: 80px 160px;
    // display: grid;
    // grid-template-columns: 30% 70%;
    display: flex;
    gap: 50px;

    @media (max-width: 991px) {
      padding: 48px 24px;
      flex-direction: column;
      gap: 24px;
    }

    .different {
      padding: 24px 30px;
      border-radius: 20px;
      background-color: var(--color-white);
      // box-shadow: 0 0 10px 2px rgba(117, 117, 117, 0.2);
      width: 30%;
      height: max-content;

      @media (max-width: 991px) {
        width: 100%;
      }

      .list-item {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          display: flex;
          align-items: center;
          gap: 20px;
          color: var(--color-text);

          .icon {
            width: 72px;
            height: 72px;
            min-width: 72px;
            border-radius: 10px;
            background-color: var(--color-primary);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              padding: 10px;
            }
          }
        }
      }
    }

    .detail {
      position: relative;
      width: calc(70% - 50px);

      @media (max-width: 991px) {
        width: 100%;
      }

      .tag {
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 24px;
        border-radius: 10px;
        background-color: #edf7f5;
        color: var(--color-white);

        position: absolute;
        z-index: 3;
        top: 40px;
        right: 40px;
        text-align: center;

        .percent {
          font-size: 100px;
          line-height: 100px;
        }

        .info {
          margin-top: 8px;
        }

        @media (max-width: 991px) {
          padding: 12px;
          top: 12px;
          right: 12px;
        }
      }

      &-cta {
        margin-top: 30px;

        .variant {
          border-bottom: 1px solid #4daa9e;

          &-item {
            text-align: center;
            padding: 10px;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            span {
              position: relative;
              z-index: 2;
              text-align: center;
            }

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: #e4edee;
              position: absolute;
              z-index: 1;
              transition: all 0.4s ease;
              transform: translateY(100%);
              border-radius: 10px 10px 0 0;
            }

            &:hover,
            &.active {
              &::before {
                transform: translateY(0);
              }
            }
          }
        }

        .contact-wrapper {
          border-bottom: 2px solid var(--color-primary);
        }

        .btn--contact {
          text-align: center;
          padding: 15px 12px 12px;
          border-radius: 10px 10px 0 0;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          color: var(--color-third);

          span {
            position: relative;
            z-index: 2;
            text-align: center;
          }

          &::before {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #e4edee;
            position: absolute;
            z-index: 1;
            transition: all 0.4s ease;
            transform: translateY(100%);
            border-radius: 10px 10px 0 0;
          }

          &:hover,
          &.active {
            &::before {
              transform: translateY(0);
            }
          }
        }
      }
    }

    .gallery {
      border-radius: 20px;
      background-color: var(--color-white);
      width: 100%;
      // aspect-ratio: 1;
      // box-shadow: 0 0 10px 2px rgba(117, 117, 117, 0.2);
      padding: 40px;

      @media (max-width: 991px) {
        padding: 24px;
      }

      &-item {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;

        &.show {
          opacity: 1;
          pointer-events: auto;
        }

        &:not(:first-child) {
          position: absolute;
          width: calc(100% - 80px);
          height: calc(100% - 200px);
          top: 40px;
          left: 40px;
        }
      }
    }

    .variant {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);

      .variant-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .btn--contact {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* --- Slider main --- */
    .mySwiper2 {
      width: 70%;
      aspect-ratio: 1;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      margin-right: auto !important;
      margin-left: 0 !important;

      @media (max-width: 991px) {
        width: 100%;
      }

      &:hover {
        .swiper-button-next,
        .swiper-button-prev {
          opacity: 1;
        }
      }
    }

    .mySwiper2 .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: var(--color-secondary);
      transition: all 0.3s ease;

      opacity: 0;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      color: #00ae9f;
    }

    /* --- Slider thumbnail --- */
    .thumbnail-slider {
      margin-top: 15px;
      height: 55px;
      margin-right: 0 !important;
      width: 30%;

      position: absolute;
      bottom: 0;
      right: 0;

      @media (max-width: 991px) {
        width: 100%;
        position: unset;
      }
    }

    .thumbnail-slider .swiper-slide {
      width: 55px;
      height: 55px;
      opacity: 0.5;
      transition: all 0.3s ease;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      // border: 1px solid #00978a;
    }

    .thumbnail-slider .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .thumbnail-slider .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
