.quote {
  position: relative;
  padding: 40px 0 100px 100px;
  background: url("../../images/draf/about/bg-quote.webp");
  background-size: cover;
  background-position: center;

  @media (max-width: 991px) {
    padding: 48px 24px;
  }

  .title {
    margin-bottom: 32px;
    margin-left: 40px;

    @media (max-width: 991px) {
      margin-left: 0;
      margin-bottom: 16px;
    }
  }

  .box {
    position: relative;

    &-content {
      min-height: 440px;
      padding: 40px;
      margin-right: 200px;
      border-radius: 20px;
      background-color: rgba($color: #fff, $alpha: 0.6);
      padding-right: 50%;

      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 991px) {
        margin-right: 0;
        padding: 24px;
      }
    }

    &-image {
      height: auto;
      width: 414px;
      aspect-ratio: 414 / 564;
      position: absolute;
      bottom: 0;
      right: 0;

      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}
