.section-news {
  padding: 80px 100px 64px;
  background-color: var(--color-white);

  @media (max-width: 991px) {
    padding: 48px 24px;
  }

  .search-top {
    margin-bottom: 32px;
  }

  h2.title {
    margin-bottom: 56px;

    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
  }

  .list-item {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 18px;
    width: 100%;

    @media (max-width: 991px) {
      gap: 24px 16px;
    }

    @media (max-width: 480px) {
      gap: 40px;
    }

    .news-item {
      width: calc(calc(100% - 36px) / 3);

      @media (max-width: 991px) {
        width: calc(calc(100% - 16px) / 2);
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }
}

.news-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-primary);
  position: relative;

  &:hover {
    .item-image {
      img {
        transform: scale(1.05);
      }
    }

    .item-content {
      // background-color: var(--color-secondary);
    }

    .desc {
      color: var(--color-primary);
    }
  }

  .item-image {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s ease;
    }
  }

  .item-content {
    padding: 24px 10px;
    transition: all 0.4s ease;

    @media (max-width: 991px) {
      padding: 16px 10px;
    }

    .desc,
    .date {
      margin-top: 8px;
      transition: all 0.4s ease;
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
