.section-category {
  padding: 80px 40px;

  .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 58px;
    margin: 0 auto;

    li {
      width: 74px;
      height: 74px;
    }
  }
}
