:root {
  --color-black: #000;
  --color-white: #fff;
  --color-text: #00ae9f;
  --color-primary: #00ae9f;
  --color-secondary: #f8f5e5;
  --color-third: #005651;
  --color-text: #414042;
  --color-text-2: #808285;
  --font-heading: "SVN-Gratelos Display 2", sans-serif;
  --font-body: "Matahari Extended", sans-serif;
}

body {
  background-color: #f5f5f7;
}

body,
* {
  font-family: var(--font-body);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-third {
  color: var(--color-third);
}

.color-text {
  color: var(--color-text);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.h1-font {
  font-family: var(--font-heading);
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;

  @media (max-width: 991px) {
    font-size: 34px;
    line-height: 40px;
  }
}

.h2-font {
  font-size: 48px;
  line-height: 52px;
  font-weight: 400;
  font-family: var(--font-heading);

  @media (max-width: 991px) {
    font-size: 40px;
    line-height: 44px;
  }
}

.h3-font {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  font-family: var(--font-heading);

  @media (max-width: 991px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.h4-font {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-body);

  @media (min-width: 1441px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.h4-bold-font {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  font-family: var(--font-body);

  @media (min-width: 1441px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.b1-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.b1-bold-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.tag-r {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.tag-i {
  font-size: 14px;
  line-height: 18px;
  // font-size: 12px;
  // line-height: 14px;
  font-weight: 400;
  font-style: italic;
}

.tag-b {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
}

.spacing-64 {
  height: 64px;

  @media (max-width: 991px) {
    height: 48px;
  }
}
