:root {
  --color-black: #000;
  --color-white: #fff;
  --color-text: #00ae9f;
  --color-primary: #00ae9f;
  --color-secondary: #f8f5e5;
  --color-third: #005651;
  --color-text: #414042;
  --color-text-2: #808285;
  --font-heading: "SVN-Gratelos Display", sans-serif;
  --font-body: "Matahari", sans-serif;
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-third {
  color: var(--color-third);
}

.color-text {
  color: var(--color-text);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.h1-font {
  font-family: var(--font-heading);
  font-size: 64px;
  line-height: 72px;
  font-weight: 400;
}

.h2-font {
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  font-family: var(--font-heading);
}

.h3-font {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  font-family: var(--font-heading);
}

.b1-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.tag-r {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.tag-i {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
}

.tag-b {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.spacing-64 {
  height: 64px;
}
