@font-face {
    font-family: 'SVN-Gratelos Display 2';
    src: url('SVN-GratelosDisplay2-Regular.eot');
    src: url('SVN-GratelosDisplay2-Regular.eot?#iefix') format('embedded-opentype'),
        url('SVN-GratelosDisplay2-Regular.woff2') format('woff2'),
        url('SVN-GratelosDisplay2-Regular.woff') format('woff'),
        url('SVN-GratelosDisplay2-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

