@font-face {
  font-family: "Matahari Extended";
  src: url("MatahariExtended-700ExtBold.eot");
  src: url("MatahariExtended-700ExtBold.eot?#iefix") format("embedded-opentype"),
    url("MatahariExtended-700ExtBold.woff2") format("woff2"),
    url("MatahariExtended-700ExtBold.woff") format("woff"),
    url("MatahariExtended-700ExtBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matahari Extended";
  src: url("MatahariExtended-400ExtReg.eot");
  src: url("MatahariExtended-400ExtReg.eot?#iefix") format("embedded-opentype"),
    url("MatahariExtended-400ExtReg.woff2") format("woff2"),
    url("MatahariExtended-400ExtReg.woff") format("woff"),
    url("MatahariExtended-400ExtReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matahari Extended";
  src: url("MatahariExtended-600ExtSemBd.eot");
  src: url("MatahariExtended-600ExtSemBd.eot?#iefix")
      format("embedded-opentype"),
    url("MatahariExtended-600ExtSemBd.woff2") format("woff2"),
    url("MatahariExtended-600ExtSemBd.woff") format("woff"),
    url("MatahariExtended-600ExtSemBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matahari Extended";
  src: url("MatahariExtended-900ExBlkObl.eot");
  src: url("MatahariExtended-900ExBlkObl.eot?#iefix")
      format("embedded-opentype"),
    url("MatahariExtended-900ExBlkObl.woff2") format("woff2"),
    url("MatahariExtended-900ExBlkObl.woff") format("woff"),
    url("MatahariExtended-900ExBlkObl.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matahari Extended";
  src: url("MatahariExtended-800ExtExtBd.eot");
  src: url("MatahariExtended-800ExtExtBd.eot?#iefix")
      format("embedded-opentype"),
    url("MatahariExtended-800ExtExtBd.woff2") format("woff2"),
    url("MatahariExtended-800ExtExtBd.woff") format("woff"),
    url("MatahariExtended-800ExtExtBd.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
